.layout-container {
  display: flex;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}

.left-section {
  display: flex;
  flex-direction: row;
  width: 420px;
  flex-shrink: 0;
  background-color: white;
  border-right: 1px solid #eee;
  margin: 0;
}

.sidebar-wrapper {
  width: 70px;
  flex-shrink: 0;
  background-color: white;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex: 1;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.content-wrapper::-webkit-scrollbar {
  display: none;
}

.left-section {
  display: flex;
  flex-direction: row;
  width: 420px;
  flex-shrink: 0;
  background-color: white;
  border-right: 1px solid #eee;
  margin: 0;
  height: 100vh;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  position: relative;
}

.layout-post-list-page {
  align-items: center;
  justify-content: center;
  padding: 20px;
}
